<!--navigation bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TIME&LEAVE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse modify" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/user">User</a>
      </li>
      <li class="nav-item">
      <li class="nav-item">
        <a class="nav-link" routerLink="/hr">HR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tnl">TNL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/report">Report</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <a class="nav-link logout" routerLink="/">Logout</a>
    </form>
  </div>
</nav>
<!--/navigation bar-->

<div *ngIf="message">
  <p>
    <ngb-alert [dismissible]="false">
      <strong>{{message}}</strong>
    </ngb-alert>
  </p>
</div>

<div class="menu">
  <a routerLink="/hr">Employee</a>
  <a routerLink="/dept">Department</a>
  <a routerLink="/desg">Designation</a>
</div>

<div class="section">
  <h6>Department Creation Form</h6>

  <form [formGroup]="departmentForm" (ngSubmit)="submit()">

    <mat-form-field>
      <mat-label>ID</mat-label>
      <input formControlName="id" matInput readonly>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Code</mat-label>
      <input formControlName="code" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Department Name</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
    <mat-checkbox formControlName="active">Active</mat-checkbox><br/>

    <mat-form-field>
      <mat-label>Department Head</mat-label>
      <mat-select formControlName="headOfId">
        <mat-option *ngFor="let emp of empList" [value]="emp.id">{{emp.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" [disabled]="!departmentForm.valid" mat-raised-button color="primary">Submit</button>
    <button type="button" (click)="clear()" mat-stroked-button color="accent"mat-stroked-button color="accent">Clear</button>
  </form>
</div>
<br>

<div class="section list">

  <h6>Department List</h6>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--id Column-->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let row"> {{row.code}} </td>
    </ng-container>

    <!-- Code Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Active </th>
      <td mat-cell *matCellDef="let row"> {{row.active}} </td>
    </ng-container>

    <!-- Head of id Column -->
    <ng-container matColumnDef="headOfId">
      <th mat-header-cell *matHeaderCellDef> Head Id </th>
      <td mat-cell *matCellDef="let row"> {{row.headOfId}} </td>
    </ng-container>

   <!-- Action Column-->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let row">

        <button (click)="edit(row)" mat-fab color="accent" aria-label="Example icon button with a edit icon">
          <mat-icon>edit</mat-icon>
        </button>

        <button (click)="delete(row)" mat-fab color="warn" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Define display cloumn -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>


