<!--navigation bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">TIME&LEAVE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse modify" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/user">User</a>
      </li>
      <li class="nav-item">
      <li class="nav-item">
        <a class="nav-link" routerLink="/hr">HR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tnl">TNL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/report">Report</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <a class="nav-link logout" routerLink="/">Logout</a>
    </form>
  </div>
</nav>
<!--/navigation bar-->

<div *ngIf="message">
  <p>
    <ngb-alert [dismissible]="false">
      <strong>{{message}}</strong>
    </ngb-alert>
  </p>
</div>

<div class="menu">
  <a routerLink="/tnl">Leave Type</a>
  <a routerLink="/leaveAppAdmin">Leave Application</a>
</div>

<div class="section">
  <h6>Designation Form</h6>

  <form [formGroup]="leaveTypeForm" (ngSubmit)=" submit()">

    <mat-form-field>
      <mat-label>ID</mat-label>
      <input formControlName="id" matInput readonly>
    </mat-form-field>
    <mat-form-field>
      <mat-label>name</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>allow Leave/Month</mat-label>
      <input type="number" formControlName="allowNoOfLeaveMonth" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>allow Leave/Yearly</mat-label>
      <input type="number" formControlName="allowNoOfLeaveYearly" matInput>
    </mat-form-field>
    <mat-checkbox formControlName="active">active</mat-checkbox>
    <br/>
    <button type="submit"  [disabled]="!leaveTypeForm.valid" mat-raised-button color="primary">Submit</button>
    <button type="button" (click)="clear()" mat-stroked-button color="accent">Clear</button>
  </form>
</div>
<br>

<div class="section list">

  <h6>Leave-Type List</h6>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--id Column-->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="allowNoOfLeaveMonth">
      <th mat-header-cell *matHeaderCellDef> Allow Leave/Month</th>
      <td mat-cell *matCellDef="let row"> {{row.allowNoOfLeaveMonth}} </td>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="allowNoOfLeaveYearly">
      <th mat-header-cell *matHeaderCellDef> Allow Leave/Year</th>
      <td mat-cell *matCellDef="let row"> {{row.allowNoOfLeaveYearly}} </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Active</th>
      <td mat-cell *matCellDef="let row"> {{row.active}} </td>
    </ng-container>

    <!--Action Column-->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action</th>
      <td mat-cell *matCellDef="let row">

        <button (click)="edit(row)" mat-fab color="accent" aria-label="Example icon button with a edit icon a edit icon a edit icon">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-fab (click)="delete(row)" color="warn" aria-label="Example icon button with a delete icon a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Define display cloumn -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
<br>
<a routerLink="/leaveAppAdmin">Leave App Admin</a>
