<!--navigation bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">TIME&LEAVE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse modify" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/user">User</a>
      </li>
      <li class="nav-item">
      <li class="nav-item">
        <a class="nav-link" routerLink="/hr">HR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tnl">TNL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/report">Report</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <a class="nav-link logout" routerLink="/">Logout</a>
    </form>
  </div>
</nav>
<!--/navigation bar-->

<div *ngIf="message">
  <p>
    <ngb-alert [dismissible]="false">
      <strong>{{message}}</strong>
    </ngb-alert>
  </p>
</div>

<div class="menu">
  <a routerLink="/hr">Employee</a>
  <a routerLink="/dept">Department</a>
  <a routerLink="/desg">Designation</a>
</div>

<div class="section">
  <h6>Employee Creation Form</h6>

  <form [formGroup]="employeeForm" (ngSubmit)=" submit()">

    <mat-form-field>
      <mat-label>ID</mat-label>
      <input formControlName="id" matInput readonly>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Photo</mat-label>
      <input formControlName="photo" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Code</mat-label>
      <input formControlName="code" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Father Name</mat-label>
      <input formControlName="fatherName" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date Of Birth</mat-label>
      <input type="date" formControlName="dob" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date Of Join</mat-label>
      <input type="date" formControlName="doj" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>NID</mat-label>
      <input formControlName="nid" matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Choose Gender...</mat-label>
      <mat-select formControlName="gender">
        <mat-option [value]="gender" *ngFor="let gender of genders">{{gender}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" formControlName="email" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>MobileNo</mat-label>
      <input formControlName="mobileNo" matInput>
    </mat-form-field>
    <mat-checkbox formControlName="active">Active</mat-checkbox>
    <br/>
    <mat-form-field>
      <mat-label>User Id</mat-label>
      <input type="number" formControlName="userId" matInput placeholder="Input number">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Department</mat-label>
      <mat-select formControlName="deptId">
        <mat-option *ngFor="let dept of deptList" [value]="dept.id">{{dept.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Designation</mat-label>
      <mat-select formControlName="desgId">
        <mat-option *ngFor="let desg of desgList" [value]="desg.id">{{desg.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Supervisor</mat-label>
      <mat-select formControlName="supervisorId">
        <mat-option *ngFor="let emp of empList" [value]="emp.id">{{emp.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" [disabled]="!employeeForm.valid" mat-raised-button color="primary">Submit</button>
    <button type="button" (click)="clear()" mat-stroked-button color="accent" mat-stroked-button color="accent">Clear
    </button>
  </form>
</div>
<br>

<div class="section list">
  <h6>Employee List</h6>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code</th>
      <td mat-cell *matCellDef="let row"> {{row.code}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef> User Id</th>
      <td mat-cell *matCellDef="let row"> {{row.userId}} </td>
    </ng-container>
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef> DateOfBirth</th>
      <td mat-cell *matCellDef="let row"> {{row.dob}} </td>
    </ng-container>
    <ng-container matColumnDef="doj">
      <th mat-header-cell *matHeaderCellDef> DateOfJoin</th>
      <td mat-cell *matCellDef="let row"> {{row.doj}} </td>
    </ng-container>
    <ng-container matColumnDef="nid">
      <th mat-header-cell *matHeaderCellDef> NID</th>
      <td mat-cell *matCellDef="let row"> {{row.nid}} </td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender</th>
      <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email</th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>
    <ng-container matColumnDef="mobileNo">
      <th mat-header-cell *matHeaderCellDef> Mobile No</th>
      <td mat-cell *matCellDef="let row"> {{row.mobileNo}} </td>
    </ng-container>
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Active</th>
      <td mat-cell *matCellDef="let row"> {{row.active}} </td>
    </ng-container>

    <!-- Action Column-->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action</th>
      <td mat-cell *matCellDef="let row">

        <button (click)="edit(row)" mat-fab color="accent"
                aria-label="Example icon button with a edit icon a edit icon a edit icon">
          <mat-icon>edit</mat-icon>
        </button>

        <button (click)="delete(row)" mat-fab color="warn" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

