<div *ngIf="message">
  <p>
    <ngb-alert [dismissible]="false">
      <strong>{{message}}</strong>
    </ngb-alert>
  </p>
</div>


<div class="section">
  <h2>Department Form</h2>

  <form [formGroup]="employeeForm" (ngSubmit)=" submit()">

    <mat-form-field>
      <mat-label>ID</mat-label>
      <input formControlName="id" matInput readonly>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Photo</mat-label>
      <input formControlName="photo" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Code</mat-label>
      <input formControlName="code" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Father Name</mat-label>
      <input formControlName="fatherName" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date Of Birth</mat-label>
      <input formControlName="dob" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date Of Join</mat-label>
      <input formControlName="doj" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>NID</mat-label>
      <input formControlName="nid" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gender</mat-label>
      <input formControlName="gender" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>MobileNo</mat-label>
      <input formControlName="mobileNo" matInput>
    </mat-form-field>
    <mat-checkbox formControlName="active">Active</mat-checkbox><br/>
    <mat-form-field>
      <mat-label>User Id</mat-label>
      <input formControlName="userId" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Department Id</mat-label>
      <input formControlName="deptId" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Designation Id</mat-label>
      <input formControlName="desgId" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Supervisor Id</mat-label>
      <input formControlName="supervisorId" matInput>
    </mat-form-field>
    <button type="submit" [disabled]="!employeeForm.valid" mat-raised-button color="primary">Submit</button>
    <button type="button" (click)="clear()" mat-stroked-button color="accent"mat-stroked-button color="accent">Clear</button>
  </form>
</div>
<br>

<div class="section">
  <h1>Employee List</h1>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code</th>
      <td mat-cell *matCellDef="let row"> {{row.code}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>
    <ng-container matColumnDef="fatherName">
      <th mat-header-cell *matHeaderCellDef> Father Name</th>
      <td mat-cell *matCellDef="let row"> {{row.fatherName}} </td>
    </ng-container>
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef> DateOfBirth</th>
      <td mat-cell *matCellDef="let row"> {{row.dob}} </td>
    </ng-container>
    <ng-container matColumnDef="doj">
      <th mat-header-cell *matHeaderCellDef> DateOfJoin</th>
      <td mat-cell *matCellDef="let row"> {{row.doj}} </td>
    </ng-container>
    <ng-container matColumnDef="nid">
      <th mat-header-cell *matHeaderCellDef> NID</th>
      <td mat-cell *matCellDef="let row"> {{row.nid}} </td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender</th>
      <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email</th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>
    <ng-container matColumnDef="mobileNo">
      <th mat-header-cell *matHeaderCellDef> Mobile No</th>
      <td mat-cell *matCellDef="let row"> {{row.mobileNo}} </td>
    </ng-container>
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Active</th>
      <td mat-cell *matCellDef="let row"> {{row.active}} </td>
    </ng-container>

    <!-- Action Column-->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let row">

        <button (click)="edit(row)" mat-fab color="accent" aria-label="Example icon button with a edit icon a edit icon a edit icon">
          <mat-icon>edit</mat-icon>
        </button>

        <button (click)="delete(row)" mat-fab color="warn" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

