
.section h6{
  background: darkolivegreen;
  color: navajowhite;
  text-align: center;
}

.navbar-brand{
  background: darkslategray;
  width: 15%;
  text-align: center;
  font-weight: 500;
}

.modify{
  background: darkslategray;
}
.modify ul li a{
  color: white;
}

.modify ul li a:hover{
  color: black;
  background: forestgreen;
}

.logout{
  color:white;
}
.logout:hover{
  color: indianred;
}

.form{

}
